<!--<-->
<%#= form_for(@project) do |f|%>
<!--  <div>-->
    <%#= f.label :name %>
    <%#= f.text_field :name %>
<!--  </div><br>-->

<!--  <div>-->
    <%#= f.label :description %>
    <%#= f.text_field :description %>
<!--  </div><br>-->

<!--  <div>-->
<!--    <label for="dog_owner_id">Select an owner:</label>-->
    <%#= f.collection_select :owner_id, owner.all, :id, :name, prompt: true %>
<!--  </div><br>-->



  <%#= f.submit %>

<%# end %>