@import 'bootstrap/dist/css/bootstrap';

@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Medium.ttf');
}

  body {
  font-family: 'Poppins';
  font-size: 20px;
  line-height: 18px;
}

.img{
  max-width: 100%;
}

.story-count{
  display: flex;
}
//.pagy-style{
//  background-color: black;
//}

/*//.pagy-bootstrap-nav {*/
/*//  //color: black;*/
/*//}*/
/*//.pagination {*/
/*//  color: yellow !important;*/
/*//  background-color: red !important;;*/
/*//}*/
/*//.page-item prev disabled {*/
/*//  color: #730E15 !important;*/
/*//}*/

/*//.page prev disabled{*/
/*//  color: white !important;*/
/*//}*/
/*//.pagy-nav pagination{*/
/*//  border-spacing: 20px;*/
/*//}*/

//.page active{
//
//}

.page{
  padding-left: 15px !important;
  color: black;
}





