@import 'bootstrap/dist/css/bootstrap';
@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Medium.ttf');
}

  body {
  font-family: 'Poppins';
  font-size: 20px;
  line-height: 18px;
}

.img{
  max-width: 100%;
}